#islandCanvas {
  background-color: skyblue;
}

.image-bank {
  display: none!important;
}

.island {
  text-align: center;
}

.image-bank #mep {
  width: 75px!important;
  height: 100px!important;
}
